/* h1 {
    color: rosybrown;
} */

h2 {
    color: #ed123f;
    font-size: 15px;
}

a {
    background-color: thistle;
}

#title {
    color: rosybrown;
}

img {
    display: flex;
    justify-content: left;
}

.products {}